/vendor
/node_modules
/public/static/bower_components
/config/params.php
.env

# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#Vim temporatory files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
TAGS
exclude-list.txt
